.donations {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center; /* Center align text */
}

.donations h2 {
    color: #333;
    margin-bottom: 15px;
}

.donations p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.donations a {
    color: #007bff;
    text-decoration: none;
}
