.images-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 500px;
    padding-right: 500px;
    margin: 20px 0;
    background-color: transparent;
}

.image-slot {
    flex: 1; /* Each image slot will take up equal space */
    background-color: transparent;
}

.image-slot img {
    width: 100%;
    height: auto;
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.mission-statement, .trnf-info {
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}
